<div id="masthead">

  <a href="{{ site.baseurl }}">
    <img id="zeno-illustration" src="{{ site.baseurl }}assets/img/zeno-wc.png" alt="Joey Wen's Illustration" />
  </a>

  <h1 class="sitetitle">
    <a href="{{ site.baseurl }}" class="sitetitle">{{ site.name }}</a>
  </h1>
  <p class="description">BIG DATA PROCESSING ENGINEER</p>

  <ul id="pagenav">
    <li><a href="{{ site.baseurl }}blog">Blog</a></li>
    <li><a href="{{ site.baseurl }}research">Research</a></li>
    <li><a href="{{ site.baseurl }}projects">Projects</a></li>
    <li><a href="{{ site.baseurl }}gallery">Gallery</a></li>
  </ul>

</div> <!--/masthead-->